body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff; /* Colore del testo */
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #444; /* Colore di sfondo del modulo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #555; /* Colore del bordo del campo di input */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #666; /* Colore di sfondo del campo di input */
    color: #fff; /* Colore del testo del campo di input */
}

button {
    width: 48%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:first-child {
    background-color: #4CAF50;
    color: white;
}

button:last-child {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

#output {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: #444; /* Colore di sfondo dell'area di output */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
